{% extends "base.html" %}
{% load static %}
{% block page_content %}

<link rel="stylesheet" href="{% static '/main.css' %}">

<h2>Job Result View</h2>
<div class="row">
<!-- <div class="col-md-4" style="background-color:#0983ED"> -->
<div class="card-body" style="background-color:#698885"> 
<h5 class="card-title">Job Status: {{full_job_status}}</h5>
<h7 class="card-text">{{display_timestamp}}<--->{{job_name}}</h7>
<!-- </div> -->
</div>
</div>
<br></br>
 <label for="test-suite">Click on a testsuite to view testcase data</label>
<div class="row">
    <nav class="navbar navbar-light small" style="background-color: #E3F2FD;">
        Test Suite Result:
        {% for each_job_testsuite_result_key, each_job_testsuite_result_value, each_jobsuite_result_link in job_testsuite_result %}
          {% if each_job_testsuite_result_key == job_suite_selected %}
            <a class="dropdown-item" href="{% url 'job_view_suite' org_timestamp each_job_testsuite_result_key %}" style="background-color:#AFC8C4 ;">
              {{ each_job_testsuite_result_key }}<--->{{ each_job_testsuite_result_value }}</a>
              {% if each_jobsuite_result_link %}
                <a href={{ each_jobsuite_result_link }}>Results</a>
              {% endif %}

          {% else %}
            <a class="dropdown-item" href="{% url 'job_view_suite' org_timestamp each_job_testsuite_result_key %}" style="background-color:#E3F2FD ;">
              {{ each_job_testsuite_result_key }}<--->{{ each_job_testsuite_result_value }}</a>
              {% if each_jobsuite_result_link %}
                <a href={{ each_jobsuite_result_link }}>Results</a>
              {% endif %}
          {% endif %}
        {% endfor %}
    </nav>
</div>
<br></br>
{% if job_testsuite_error %}
<h2>Error:</h2>
    <div class="row">
    <!-- <div class="col-md-4" style="background-color:#0983ED"> -->
    <div class="card-body" style="background-color:#698885"> 
    <h5 class="card-text">{{job_testsuite_error}}</h5>
    <!-- </div> -->
    </div>
    </div>
{% else %}
  {% if job_testcase_result %}
    
    <div class="row">
        <nav class="navbar navbar-light small" style="background-color: #E3F2FD;">
            Test Case Result:
            {% for each_job_testcase_result_key, each_job_testcase_result_value in job_testcase_result %}
            <a class="dropdown-item">
              {{ each_job_testcase_result_key }}<--->{{ each_job_testcase_result_value }}</a>
            {% endfor %}
        </nav>
    </div>
  {% endif %}
{% endif %}




{% endblock %}

