{% extends "base.html" %}
{% load static %}
{% block page_content %}

<link rel="stylesheet" href="{% static '/main.scss' %}">

<br></br> 

<div class="row justify-content-center"">
    <nav class="navbar navbar-light small" style="background-color: #698885;">
        <h6>JOB TYPE&nbsp&nbsp</h6>

        {% for each_job_group in job_groups %}
        <span class="d-inline-block" data-toggle="popover" data-content="Disabled popover">
          {% if each_job_group == job_group_selected %}
            <a class="dropdown-item" href="{% url 'job_group' each_job_group %}" style="background-color: #AFC8C4;">{{ each_job_group }} </a>
          {% else %}
            <a class="dropdown-item" href="{% url 'job_group' each_job_group %}" style="background-color: #E3F2FD;">{{ each_job_group }} </a>
          {% endif %}
        </span>
        {% endfor %}
    </nav>
</div>
 
<br></br>
<div class="row">
{% if job_group_selected %}
{% if job_group_selected != 'custom'%}
       <h3 style="padding-left: 15px; padding-right: 10px;">Job List</h3>
{% else%}
        <h3 style="padding-left: 10px; padding-right: 10px;">Feature List </h3> 
{% endif %}
      <br></br>
      <h3 style="padding-left: 445px; padding-right: 50px;">Test Suite List</h3>
</div>


<div class="row">
<div class="col-md secondrow " >
    <nav class="navbar navbar-light small " style="background-color: #E3F2FD;">
    {% for each_job_run_list in job_run_list %}
    {% if each_job_run_list == job_feature_selected %}
    <a class="dropdown-item" href="{% url 'job_feature' job_group_selected each_job_run_list %}" style="background-color:#AFC8C4">{{ each_job_run_list }} </a>
    {% else %}
      <a class="dropdown-item" href="{% url 'job_feature' job_group_selected each_job_run_list %}">{{ each_job_run_list }} </a>
    {% endif %}
    {% endfor %}
    </nav>
</div>



<br></br>
<div class="col-md secondrow" style="background-color: #E3F2FD;">
    <nav class="navbar navbar-light small" style="background-color: #E3F2FD;">
    {% for each_test_suite_list in test_suite_list %}
    {% if each_test_suite_list == job_testsuite_selected %}
    <a class="dropdown-item" href="{% url 'job_testsuite' job_group_selected job_feature_selected each_test_suite_list %}"  style="background-color:#AFC8C4">{{ each_test_suite_list }} </a>
    {% else %}
      <a class="dropdown-item" href="{% url 'job_testsuite' job_group_selected job_feature_selected each_test_suite_list %}">{{ each_test_suite_list }} </a>
    {% endif %}
    {% endfor %}
</div>
</div>

{% endif %}

<br></br>
{% if job_testsuite_selected %}
{%  if job_group_selected != 'custom' %}
  <div class="col-md secondrow" >
      <nav class="navbar navbar-light small" style="background-color: #E3F2FD;">
      Test Case List<br>
  		{% for each_test_case_list in test_case_list %}
  		    <a class="dropdown-item">{{ each_test_case_list }} </a>
  		{% endfor %}
  </div>
{% else %}



  <div class="row">
  <form name="Add Job" method="post" action="{% url 'job_robot_add' job_group_selected job_feature_selected job_testsuite_selected%}">
  {% csrf_token %}
  <select class="navbar navbar-light small" multiple="multiple" name='testcase' id='testcase'>
  {% for each_test_case_list in test_case_list %}
  <option>{{ each_test_case_list }}</option>
  {% endfor %}
  </select>
  </div>
{% endif %}
{% endif %}
<br></br>

{% if job_group_selected != 'custom' and job_testsuite_selected %}
  <a href="{% url 'job_robot_run' job_group_selected %}"
                 class="btn btn-primary">
    Run Job
  {% elif job_group_selected %}
    
    <input type="hidden" name="Add Job" />
    <input type="submit" value="Add Job" /> 
    </form>

  {% endif %}
  </a>

{% if job_added_flag %}
  <div class="col-md" >
      <nav class="navbar navbar-light small" style="background-color: #E3F2FD;">
      Test Case List<br>
      {% for feature_name, testsuite_name in added_jobs %}
          <a class="dropdown-item">{{ feature_name }}<--->{{testsuite_name}}</a>
      {% endfor %}
  </div>
  <a href="{% url 'job_robot_custom_run' %}"
                 class="btn btn-primary">
    Run Job
{% endif %}


{% endblock %}

